      
		<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
				<!-- starts -->
				<div class="auth-fluid">
				  <div class="row">
					<div class="col-sm-12">
					  <!-- Authentication card start -->
					  <div class="login-card card-body auth-body">
						<form [formGroup]="form" (ngSubmit)="f.form.valid && sendPasswordLink()" #f="ngForm">
						  <div class="text-center">
							<div class="center-block">
								<img class="profile-img"
									src="assets/img/logo.png" alt="">
							</div>
						  </div>
						  <div class="auth-box">
							<div class="row m-b-20">
							  <div class="col-md-12">
								<h3 class="text-inverse text-center txt-primary">Sync Skill</h3>
							  </div>
							  
							</div>
						
							<p class="text-inverse b-b-default text-left p-b-5">Enter your registered email</p>
							<div class="input-group">
							  <input type="email" class="form-control" id="email" formControlName="email"  [(ngModel)]="model.email"  placeholder="Email">
							  <span class="md-line"></span>
							</div>
							
							<div class="row m-t-30">
							  <div class="col-md-12">
								   <button [disabled]="!form.valid" class="btn btn-login btn-md btn-block waves-effect text-center m-b-20">Send Password</button>
							  </div>
							</div>

              <div class="input-group text-left">
                  <div class="text-left col-sm-6 col-xs-12 forgot-phone ">
                    <a [routerLink]="['/login']" class="f-w-600 text-inverse"> Back to login</a>
                  </div>
                </div>

							<div class="row ">
								<div class="alert.msg col-sm-12">
										<app-alert></app-alert>
								</div>
							</div>
							<div class="clearfix"></div>  
						  </div>
						</form>
						
					  </div>
					</div>
				  </div>
				</div>
			  </section>