<div class="main-content ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h4 class="title">Change Password Information</h4>
        </div>
      </div>

      <div class="col-md-12 card model-card">
         <form #f="ngForm" novalidate (ngSubmit)="changepassword(f.value, f.valid)">
                <div class="card">
                <div class="header">
                    <h6>Password Details</h6>
                </div>
                <div class="content">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                        <label for="">Current Password</label>
                        <input type="password" class="form-control" name="oldpassword" [ngModel]="credentials.oldpassword" required #oldpassword="ngModel">
                        <small [hidden]="oldpassword.valid || (oldpassword.pristine && !f.submitted)" class="text-danger">
                            Current Password is required
                        </small>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password" [ngModel]="credentials.password" required validateEqual="confirmPassword"
                            reverse="true" #password="ngModel">
                        <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                            Password is required
                        </small>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="">Confirm password</label>
                        <input type="password" class="form-control" name="confirmPassword" [ngModel]="credentials.confirmPassword" required validateEqual="password"
                            reverse="false" #confirmPassword="ngModel">
                        <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                            Password mismatch
                        </small>
                        </div>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>

            <div class="col-md-12">
                <div class="col-md-9">
                <div class="alert-msg">
                    <app-alert></app-alert>
                </div>
                </div>
                <div class="col-md-3">
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-inverse btn-mini ">
                    <span class="h6">Update Password</span>
                    </button>
                </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
  </div>
</div>
